/*.grid-container {
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    gap: 2rem;
    grid-template-areas: 
        "box1 box2 box3"
        "box4 box5 box6"
        "box7 box8 box9"
        "box10 box11 ."; 
}

.grid-item {
    color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    font-size: 1.5rem;
}
*/